.tocWrapper {
  display: flex;
  flex-direction: column;
}

.page {
  overflow: hidden;
}

.page > a {
  display: block;
  padding: 8px 32px 8px 0;
  cursor: pointer;
  position: relative;
  user-select: none;
  text-decoration: none;
  border-radius: 0;
  outline: none;
}

.page > a:hover {
  background-color: #F4F4F5
}

.page > a:focus {
  box-shadow: inset 0px 0px 0px 1px rgba(65,100,200,0.75);
  font-weight: 700;
}

.text {
  display: inline-block;
  position: relative;
}

.page.hasChildren > a .text::before {
  left: -16px;
  position: absolute;
  content: '';
  background: url('./triangle.svg');
  background-size: cover;
  width: 14px;
  height: 14px;
}

.page.isOpen > a .text::before {
  transform: rotate(90deg);
}

.anchor {
  padding: 8px 32px 8px 0;
  display: block;
  margin: 0 -16px;
  user-select: none;
  text-decoration: none;
}

.anchor:hover {
  background-color: #F4F4F5
}
