.root {
  overflow: hidden;
  transition-duration: 200ms;
  transition-property: opacity, transform, max-height;
  height: auto;
  transform-origin: top;
}

.enter {
  opacity: 0;
  transform: scaleY(0);
  max-height: 0;
}

.enterActive {
  opacity: 1;
  transform: scaleY(1);
  max-height: 500px;
}

.exit {
  opacity: 1;
  transform: scaleY(1);
  max-height: 500px;
}

.exitActive {
  opacity: 0;
  transform: scaleY(0);
  max-height: 0;
}
