.root {
  display: flex;
  flex-direction: column;
  width: 280px
}

.search {
  display: block;
  outline: none;
  border: 0;
  padding: 8px 32px 8px 46px; /* 32 + 14 */
  width: 100%;
}

.search:focus {
  box-shadow: inset 0px 0px 0px 1px rgba(65,100,200,1);
}
